@media only screen and (min-width: 768px) and (max-width: 1024px){
    html {
        font-size: .9px;
    }
    .product {
        width: 728px;
    }
    .product__img-container {
        width: 460px;
        height: 300px;
    }
    .product__main-img {
        height: 336px;
    }
    .order {
        padding-left: 25px;
        width: 260px;
    }
    .order__color-title,
    .order__size-title,
    .order__quant-title {
        width: 100%;
        font-size: 17rem;
        margin-bottom: 10px;
        margin-top: -5px;
    }
    .order__size-wrap {
        margin-top: 22px;
    }
    .order__select {
        font-size: 17rem;
    }
    .order__quant-wrap {
        margin-top: 23px;
    }
    .order__availability {
        margin-top: 25px;
        height: 40px;
    }
    .order__availability-title {
        font-size: 13rem;
    }
    .order__price-last {
        display: none;
    }
    .order__price-current {
        color: #000;
        font-size: 39rem;
    }
    .order__add-btn {
        width: 217px;
        margin-top: 22px;
        font-size: 13rem;
    }
    .order__form {
        padding-bottom: 25px;
    }
    .socials__title {
        display: none;
    }
    .socials {
        margin-top: 20px;
    }
    .socials__item:first-of-type {
        margin-left: 0;
    }
    .product__description {
        width: 450px;
        margin-top: -154px;
    }
    .product__name {
        font-size: 21rem;
        letter-spacing: 1.3rem;
    }
    .product__model {
        line-height: normal;
        font-size: 20rem;
    }
    .product__description-text {
        margin-top: 24px;
    }
    .product__description-qual {
        display: none;
    }
    .product__gallery {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-right: 20px;
    }
    .product__description-qual-text {
        visibility: visible;
        margin-top: 41px;
        margin-bottom: 15px;

    }
    .product__gallery-box {
        width: 217px;
    }
    .product__gallery-name {
        left: 17%;
    }
    .product__gallery-link {
        left: 23%;
    }
}
/*start media 320px */
@media only screen and (min-width: 320px) and (max-width: 767px) {

    .product {
        width: 284px;
        overflow: hidden;
    }
    .product__header {
        letter-spacing: .1px;
        font-size: 24rem;
    }
    .product__img-container {
        width: 277px;
        height: 180px;
    }
    .product__main-img {
        height: 210px;
    }
    .order {
        padding-left: 0;
        padding-right: 2px;
        margin-top: 26px;
    }
    .order__radio-wrap {
        width: 192px;
    }
    .color__label {
        width: 40px;
        height: 40px;
    }
    .order__size-wrap {
        margin-top: 21px;
    }
    .order__select {
        width: 195px;
        height: 43px;
    }
    .order__quant-wrap {
        margin-top: 25px;
    }
    .order__availability {
        margin-top: 25px;
        height: 40px;
    }
    .order__price-last {
        display: none;
    }
    .order__price-current {
        color: #000;
        font-size: 37rem;
    }
    .order__add-btn {
        width: 100%;
        height: 55px;
        font-size: 14rem;
    }
    .order__form {
        padding-bottom: 25px;
    }

    .product__description {
        margin-top: -70px;
    }
    .product__name {
        font-size: 17rem;
    }
    .product__model {
        font-size: 18rem;
        line-height: normal;
    }
    .product__description-text {
        font-size: 13rem;
        margin-top: 14px;
        line-height: 18rem;
    }
    .product__description-qual {
        font-size: 12rem;
        line-height: 13rem;
    }
    .socials_mobile {
        width: 100%;
        margin-top: 23px;
        align-items: flex-end;
        height: 50px;
        justify-content: center;
        border-top: 1px solid lightgrey;
    }
    .socials__item:first-of-type {
        margin-left: 0;
    }
    .product__gallery {
        margin-top: 22px;
        padding-left: 0;
    }
    .product__gallery-img {
        max-width: none;
    }
    .product__gallery-box {
        width: 284px;/* width of the main container */
    }
    .product__gallery-box:hover {
        background: none;
    }
    .product__gallery-name,
    .product__gallery-link {
        display: none;
    }
}