* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus {
    outline: none;
}
html {
    font: 1px 'Open Sans', serif;
}
.product {
    margin: 0 auto;
    width: 1024px;
    padding-top: 32px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.product__header {
    font-size: 40rem;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
}
.product__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 420px;
    margin-top: 18px;
    overflow: hidden;
    margin-left: 4px;
    border: 1px solid lightgrey
}
/*start aside section */
/*start order form */
.order {
    width: 350px;
    height: 480px;
    margin-top: 18px;
    padding-left: 30px;
    padding-right: 18px;
}
.order__form {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
.order__color-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order__color-title,
.order__size-title,
.order__quant-title{
    font-size: 15rem;
    font-weight: bold;
    align-self: center;
}
/* start radio buttons */
.order__radio-wrap {
    display: flex;
    justify-content: space-between;
    width: 218px;
}
.order__color {
    display: none;
}
.color__label {
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;
}
#color1__label {
    background: #FBFBFB;
    outline: 1px solid lightgrey;
}
#color2__label {
     background: #AED4EB;
 }
#color3__label {
    background: #BBAED9;
}
#color4__label {
    background: #EBADC4;
}
#color1:checked+label {
    outline: 2px solid lightgrey;
}
#color2:checked+label {
    outline: 2px solid #68ADD7;
}
#color3:checked+label {
    outline: 2px solid #9271DD;
}
#color4:checked+label {
    outline: 2px solid #DD7FA2;
}
/*finished radio buttons */
.order__size-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    position: relative;
}
.order__select {
    width: 218px;
    height: 40px;
    padding: 0 10px;
    font: 15rem 'Open Sans',serif;
    letter-spacing: 1.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

}
.order__size-wrap:after,
.order__quant-wrap:after {
    content: "";
    position: absolute;
    display: block;
    background-image: url('img/sprites.png');
    background-position: 0 -141px ;
    width: 11px;
    height: 6px;
    bottom: 17px;
    right: 11px;
}
.order__select:focus {
    outline: none;
}
.order__quant-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    position: relative;
}
.order__availability {
    border-top: 1px solid lightgrey;
    margin-top: 31px;
    height: 46px;
    display: flex;
    align-items: flex-end;
}
.order__availability-title {
    font-size: 14rem;
    font-weight: bold;
    text-transform: uppercase;
}
.order__availability-status {
    color: #F05469;
 }
.order__price-wrap{
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
    padding-right: 11px;
}
.order__price-last {
    text-decoration: line-through;
    color: #CACACA;
    font-size: 42rem;
    font-weight: bold;
    line-height: 100%;
}
.order__price-current {
    font-size: 42rem;
    font-weight: bold;
    line-height: 100%;
    color: #F05469;
}
.order__add-btn {
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    border: 3px solid #454545;
    width: 243px;
    height: 50px;
    margin-top: 27px;
    background-color: white;
    font: bold 12rem 'Open Sans' serif;
    cursor: pointer;
}
/*finish order form */
/*start socials*/
.socials__title {
    text-transform: uppercase;
    font-size: 14rem;
    font-weight: 700;
    display: inline;
}
.socials {
    display: flex;
    align-items: center;
    margin-top: 25px;
    list-style: none;

}
.socials__item {
    font-size: 20px;
    margin-right: 14px;
}
.socials__item:first-of-type {
    margin-left: 20px;
}
.socials__link {
    background: url('img/sprites.png');
    display: block;
    text-decoration: none;
    width: 33px;
    height: 33px;
}
.socials__link_fb {
    background-position: 0 76px;
}
.socials__link_fb:hover {
    background-position: 0 -1px;
}
.socials__link_tw {
    background-position: 128px 76px;
}
.socials__link_tw:hover {
    background-position: 128px -1px;
}
.socials__link_google {
    background-position: 81px 76px;
}
.socials__link_google:hover {
    background-position: 81px -1px;
}
.socials__link_pic {
    background-position: 33px 76px;
}
.socials__link_pic:hover {
    background-position: 33px -1px;
}
/*finish socials*/
/*start description*/
.product__description {
    margin-left: 2px;
    margin-top: -34px;
    width: 520px;
}
.product__name {
    font-size: 23rem;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 1.2rem;
}
.product__model {
    font-size: 21rem;
    line-height: 100%;
    font-weight: 100;
    text-transform: uppercase;
}
.product__description-text {
    font-size: 15rem;
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 1.2rem;
    line-height: 19rem;
}
.product__description-qual-wrap {
    ///
}
.product__description-qual {
    font-size: 15rem;
    font-weight: 600;
    line-height: 16rem;
    list-style-position: inside;
    letter-spacing: 1.2rem;
    list-style: none;
}
.product__description-qual-text {
    font-size: 12rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .9px;
    visibility: hidden;
    cursor: pointer;
    position: relative;
    width: 100px;
}
.product__description-qual-text:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 2px solid black;
    width: 96px;
    top: -12px;
    cursor: default;
}
.product__description-qual-text:after {
    content: "";
    position: absolute;
    display: block;
    background-image: url('img/sprites.png');
    background-position: 0 -141px ;
    width: 11px;
    height: 6px;
    right: 3px;
    top: 5px;

}

.product__description-qual-item:before {
    content: ".";
    font-size: 25rem;
    font-weight: bold;
    position: relative;
    top: -4px;
    margin-right: 4px;

}
.product__description-qual-item:last-of-type {
    text-transform: uppercase;
}
/*finish description*/
/*start gallery */
.product__gallery {
    padding-right: 35px;
    padding-left: 3px;
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.product__gallery-box {
    position: relative;
}
.product__gallery-box:hover {
    background-color: rgba(0,0,0,.4);
}
.product__gallery-box:hover>.product__gallery-name,
.product__gallery-box:hover>.product__gallery-link{
    visibility: visible;
}

.product__gallery-name {
    text-transform: uppercase;
    font-size: 24rem;
    font-weight: 900;
    color: white;
    text-align: center;
    width: 150px;
    position: absolute;
    top: 25%;
    left: 25%;
    visibility: hidden;
}
.product__gallery-link {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 8px 18px;
    background-color: rgba(255,255,255,.7);
    font-size: 12rem;
    font-weight: 600;
    position: absolute;
    top: 65%;
    color: black;
    left: 26%;
    visibility: hidden;

}
.product__gallery-img {
    position: relative;
    z-index: -1;
    max-width: 100%;
}