* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 1px 'Open Sans', serif;
}
.product {
    margin: 0 auto;
    border: 1px solid;
    width: 1024px;
    height: 1400px;
    /*mbd*/
    padding-top: 32px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.product__header {
    font-size: 40rem;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
}
.product__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 420px;
    margin-top: 18px;
    overflow: hidden;
    margin-left: 4px;
    border: 1px solid lightgrey
}
.product__order {
    outline: 1px solid red;
    width: 350px;
    height: 480px;
    margin-top: 18px;
}
.product__description {
    margin-left: 2px;
    margin-top: -34px;

    outline: 1px solid red;
    width: 520px;
}
.product__name {
    font-size: 23rem;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 1.2rem;
}
.product__model {
    font-size: 21rem;
    line-height: 100%;
    font-weight: 100;
    text-transform: uppercase;
}
.product__description-text {
    font-size: 15rem;
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 1.2rem;
    line-height: 19rem;
}
.product__description-qual {
    font-size: 15rem;
    font-weight: 600;
    margin-top: 21px;
    line-height: 16rem;
    list-style-position: inside;
    letter-spacing: 1.2rem;
    list-style: none;
}
.product__description-qual-item:before {
    content: ".";
    font-size: 25rem;
    font-weight: bold;
    position: relative;
    top: -4px;
    margin-right: 4px;

}
.product__description-qual-item:last-of-type {
    text-transform: uppercase;
}